<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="dnlib" version="3.3.1" targetFramework="net472" />
  <package id="Yarhl" version="3.0.0-alpha08" targetFramework="net472" />
  <package id="Yarhl.Media" version="3.0.0-alpha08" targetFramework="net472" />
</packages>