<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Be.Windows.Forms.HexBox" version="1.6.1" targetFramework="net472" />
  <package id="CyotekImageBox" version="1.3.0-Alpha1" targetFramework="net471" />
  <package id="DirectXTexNet" version="1.0.1" targetFramework="net472" />
  <package id="DockPanelSuite" version="3.1.0-beta7" targetFramework="net472" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.1.0-beta7" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net472" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net472" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net471" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.3.6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Nito.AsyncEx.Tasks" version="5.0.0" targetFramework="net472" />
  <package id="Nito.Disposables" version="2.0.0" targetFramework="net472" />
  <package id="SharpGen.Runtime" version="2.0.0-beta.9" targetFramework="net472" />
  <package id="SharpGen.Runtime.COM" version="2.0.0-beta.9" targetFramework="net472" />
  <package id="StreamCompare" version="0.1.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net472" />
  <package id="System.Composition" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition.AttributedModel" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition.Convention" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition.Hosting" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition.Runtime" version="5.0.0" targetFramework="net472" />
  <package id="System.Composition.TypedParts" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Loader" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="Vortice.Direct3D11" version="1.9.87" targetFramework="net472" />
  <package id="Vortice.DirectX" version="1.9.87" targetFramework="net472" />
  <package id="Vortice.DXGI" version="1.9.87" targetFramework="net472" />
  <package id="Vortice.Mathematics" version="1.3.21" targetFramework="net472" />
  <package id="Yarhl" version="3.1.0" targetFramework="net472" />
  <package id="Yarhl.Media" version="3.1.0" targetFramework="net472" />
</packages>